.card{
	width: 310px;
	border: 5px solid tan;
	border-radius: 7px;
	padding-right: .2em;
  padding-left: .7em;
  padding-bottom: .6em;
  box-shadow: 5px 5px 50px #ccc;
  background-image: linear-gradient(to bottom,rgba(255, 255, 255, 2) 0%,rgba(255, 255, 255, 0) 70%),
    url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQzkH1b-dHXHI6X4GwFBv1zdWJOsBUDKzZZ7V_hXBEtftknsL_U);
}

h3 {
	text-align: center;
	font-size: 25pt;
	font-weight: bold;
	border: 2px dotted tan;
  border-radius: 5px;
  padding-bottom: 6px;
  padding-top: 10px;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-right: 7px;
}

img {
	box-sizing: border-box;
  margin-bottom: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 3px dotted tan;

}

.info{
	box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px dotted tan;
  border-radius: 5px;
  border-width: 2px;
  padding: 15px;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 1.2em;
  margin-right: 6px;
}

.fact {
	font-style: italic;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

span {
	font-weight: bold;
}
    